.App {
  text-align: center;
  background-color: cadetblue;
}

.App > .row > .col-6 > ol > li:nth-child(even) {
  background-color: rgb(78, 194, 155);
}

.App > .row > .col-6 > ul > li:nth-child(odd) {
  background-color: grey;
}

hr {
  border-color: black;
  background-color: black;
  color: black;
}

.errormsg {
  color: cadetblue;
}
